@import "tailwindcss";

@font-face {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"), url("/font/Acumin-RPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Italic"), url("/font/Acumin-ItPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold"), url("/font/Acumin-BdPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold Italic"),
    url("/font/Acumin-BdItPro.woff") format("woff");
}

/* Critical CSS */
body {
  background-color: #181a1b;
  color: white;
  margin: 0;
  font-family: "Acumin Pro";
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  will-change: transform;
}

/* Optimized scrollbar hiding */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Full Custom Scrollbar (No Arrows) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}



/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e1e;
}


/* Performance optimizations */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* border: 1px solid yellowgreen */
}

/* Optimize image rendering */
img {
  content-visibility: auto;
  will-change: transform;
}

.text-amber {
  color: #f3b00c;
}
.bg-amber {
  background-color: #f3b00c;
}
